* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #070a1c;
    color: white;
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 350px;
    padding: 25px;
    background: #08081b;
    border-right: 1px solid #29235a;
}

.sidebar h2 {
    margin: 20px 0;
}

button {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border-radius: 12px;
    border: 1px solid #393078;
    background: #17152f;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #24204a;
}

.new-chat {
    background: #211c47;
}

.chat-item {
    margin: 25px 0;
    padding: 14px;
    background: #1d1940;
    border: 1px solid #4a3e91;
    border-radius: 12px;
}

hr {
    border: none;
    border-top: 1px solid #30295e;
    margin: 55px 0 25px;
}

.learning-card {
    margin-top: 35px;
    padding: 20px;
    background: #17172a;
    border-radius: 12px;
}

.learning-card h3 {
    margin-bottom: 15px;
}

.learning-card p {
    line-height: 1.6;
    color: #c8c5d8;
}


/* MAIN */

.main {
    flex: 1;
    position: relative;
    min-height: 100vh;
}

header {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.deploy {
    width: auto;
    border: none;
    background: transparent;
}


/* HERO */

.hero {
    width: 70%;
    max-width: 1000px;
    margin: 100px auto 0;
    padding: 35px;
    background: #191b25;
    border-radius: 10px;
    text-align: center;
}

.quantum-symbol {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 18px;
}

.hero-subtitle {
    font-size: 18px;
    color: #d0cee0;
    margin-bottom: 30px;
}

.status-pill {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background: #15152a;
    color: white;
}


/* CHAT INPUT */

.chat-box {
    position: fixed;
    bottom: 25px;
    left: 25%;
    right: 5%;
    padding: 12px;
    background: #20212c;
    border-radius: 12px;
    display: flex;
    gap: 10px;
}

.chat-box input {
    flex: 1;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #4b438d;
    background: #17162f;
    color: white;
    outline: none;
}

.chat-box button {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}
